.menu-toggle {
    @include button-reset;
    position: fixed;
    top: 26px;
    right: $indent;
    width: 24px;
    height: 24px;
    z-index: 12;
    background-color: $cGreen;
    @include tablet {
        display: none;
    }
    
    &_line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        border: 2px dashed $color;
        transition: .3s $easing transform;

        &:nth-child(1) {
            margin-top: -6px;
            @include desktop {
                margin-top: -10px;
            }

            .menu-opened & {
                transform: rotate(45deg) translate(5px, 4px);
                @include desktop {
                    transform: rotate(45deg) translate(7px, 7px);
                }
            }
        }
        &:nth-child(2) {
            margin-top: 6px;
            @include desktop {
                margin-top: 10px;
            }

            .menu-opened & {
                transform: rotate(-45deg) translate(5px, -4px);
                @include desktop {
                    transform: rotate(-45deg) translate(7px, -7px);
                }
            }
        }
    }
}
