.menu-toggle {
    @include button-reset;
    position: fixed;
    top: 26px;
    right: $indent;
    width: 24px;
    height: 24px;
    z-index: 10;
    @include tablet {
        display: none;
    }

    .header__static & {
        @include tablet {
            display: block;
        }
        @include desktop {
            display: none;
        }
    }
    
    &_line {
        position: absolute;
        top: 50%;
        left: 0;
        width: 24px;
        height: 2px;
        background: url(#{$img}/burger-line.svg) no-repeat center center / 100% 100%;

        &:nth-child(1) {
            margin-top: -6px;
            @include desktop {
                margin-top: -10px;
            }
        }
        &:nth-child(2) {
            margin-top: 6px;
            @include desktop {
                margin-top: 10px;
            }
        }
    }
}
