.person {
    @include tablet {
        display: flex;
        gap: 20px;
    }

    &_image-wrapper {
        width: 65%;
        position: relative;
        margin: 0 0 8px;
        @include tablet {
            width: 220px;
        }
        @include desktop {
            width: 100%;
        }
    }
    &_image {
        width: 100%;
        transition: .2s $easingSmooth filter;

        .active & {
            @include desktop {
                filter: sepia(100%) hue-rotate(310deg) saturate(3);
            }
        }
    }
    &_name {
        font-size: 16px;
        display: block;
        margin: 0 0 0 84px;
        position: relative;

        &::before {
            content: '';
            width: 12px;
            height: 12px;
            background-color: $color;
            position: absolute;
            border-radius: 50%;
            position: absolute;
            left: -28px;
            top: 10px;
        }
    }
    &_position {
        font-size: 14px;
        margin: 0 0 0 84px;
        @include tablet {
            font-size: 16px;
        }
    }
    &_social {
        position: absolute;
        right: 14px;
        bottom: 14px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &_social-icon {
        height: 24px;
        width: 24px;
        @include desktop {
            opacity: 0;
            transition: .2s $easingSmooth opacity;
        }

        .active & {
            @include desktop {
                opacity: 1;
            }
        }
    }
    &_title {
        font-family: $font-family__heading;
        font-weight: 700;
        font-size: 18px;
        display: block;
        margin: 16px 0;
        text-transform: uppercase;
        @include tablet {
            margin-top: 0;
        }
    }
    &_description {
        font-size: 14px;
        line-height: 1.5;
        position: relative;
        padding: 16px 0 0;
        @include tablet {
            font-size: 16px;
        }
        @include desktop {
            columns: 2;
        }

        &::before {
            content: '';
            background: repeating-linear-gradient(90deg, rgba(#000, .25), transparent 2px);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 4px;
        }
    }
    &_header {
        transition: .2s $easingSmooth transform;
        @include tablet {
            width: 220px;
            flex-shrink: 0;
        }
        @include desktop {
            width: 100%;
        }

        .active &,
        .active &.animated {
            @include desktop {
                transform: rotate(-5deg);
            }
        }
    }
    &_content {
        @include desktop {
            position: absolute;
            left: 0;
            bottom: 0;
            opacity: 0;
            width: 75%;
            pointer-events: none;
            transition: .2s $easingSmooth opacity;
        }

        .active & {
            @include desktop {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
