.showcase {
    padding: $indent 0 64px;
    @include tablet {
        padding-top: 24px;
        padding-bottom: 68px;
    }
    @include desktop {
        padding-top: 60px;
        padding-bottom: 240px;
        position: relative;
    }

    &_title {
        font-size: 56px;
        line-height: .9;
        margin: 0;
        @include tablet {
            font-size: 112px;
        }
        @include desktop {
            font-size: 214px;
        }
    }
    &_subtitle {
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        margin: 0 0 64px;
        min-height: 28.6px;
        @include tablet {
            font-size: 24px;
            min-height: 31.2px;
        }
        @include desktop {
            font-size: 44px;
            min-height: 57.2px;
        }
    }
    &_features {
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: flex-end;
        }
        @include desktop {
            justify-content: flex-start;
            flex-wrap: nowrap;
        }
    }
    &_feature {
        display: block;
        font-size: 18px;
        padding: 54px 0 24px;
        position: relative;
        font-family: $font-family__heading;
        text-transform: uppercase;
        @include tablet {
            width: 35%;
        }

        &:nth-child(1) {
            @include tablet {
                margin: 70px 0 0;
            }
            @include desktop {
                width: 292px;
            }

            &::before {
                @include tablet {
                    bottom: -25px;
                    top: auto;
                    left: 33%;
                }
                @include desktop {
                    bottom: auto;
                    top: -30px;
                    left: 0;
                    margin-left: -120px;
                }
            }
        }
        &:nth-child(2) {
            @include tablet {
                width: 60%;
            }
            @include desktop {
                width: 261px;
                margin-top: -10px;
            }

            &::before {
                @include tablet {
                    content: none;
                }
                @include desktop {
                    content: '';
                    top: auto;
                    bottom: -40px;
                    margin-left: -161px;
                }
            }
            &::after {
                @include tablet {
                    height: 324px;
                    margin-top: -162px;
                }
            }
        }
        &:nth-child(3) {
            @include tablet {
                margin-top: -20px;

            }
            @include desktop {
                width: 280px;
                margin-top: 60px;
            }

            &::before {
                @include tablet {
                    margin-left: -100px;
                    top: -13px;
                }
                @include desktop {
                    top: -90px;
                }
            }
            &::after {
                @include tablet {
                    height: 349px;
                    top: -13px;
                    margin-top: -115px;
                }
            }
        }

        &::before {
            content: '';
            border-top: 1px dashed currentColor;
            mask: linear-gradient(90deg, rgba(#fff, 0), rgba(#fff, 1) 50%, rgba(#fff, 1) 50%, rgba(#fff, 0) 100%);
            position: absolute;
            left: 0;
            top: 0;
            transform-origin: left center;
            animation: draw-horizontal 1.5s $easingSmooth .01s forwards;
            width: 310px;
        }
        &::after {
            content: '';
            position: absolute;
            left: -25px;
            top: 50%;
            background: repeating-linear-gradient(0deg, #fff, transparent 2px);
            mask: linear-gradient(0deg, rgba(#fff, 0), rgba(#fff, 0) 20%, rgba(#fff, 1) 50%, rgba(#fff, 1) 50%, rgba(#fff, 0) 80%, rgba(#fff, 0) 100%);
            width: 6px;
            animation: draw-vertical 1.5s $easingSmooth .01s forwards;
        }
    }
    &_feature-dot {
        height: 14px;
        width: 14px;
        position: absolute;
        left: 0;
        top: 24px;
        background-color: $cRed;
        border-radius: 50%;
    }
    &_down {
        width: 161px;
        height: 161px;
        border-radius: 50%;
        background: url(#{$img}/scroll-down.svg) no-repeat center / 100%;
        margin: auto;
        transition: .2s $easingSmooth opacity;
        @include tablet {
            margin: 0 0 0 126px;
        }
        @include desktop {
            position: absolute;
            right: 0;
            bottom: 100px;
        }

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: .8;
        }
    }
}

@keyframes draw-horizontal {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes draw-vertical {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
