.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 80px;
    @include tablet {
        max-width: 800px;
        margin: auto;
    }
    @include desktop {
        max-width: 1066px;
        padding-top: 0;
    }
    
    &_circle {
        position: absolute;
        max-width: none;
        transform-origin: center;

        &__1 {
            left: 50%;
            top: 180px;
            transform: translateX(-50%);
            height: 560px;
            width: 560px;
            @include tablet {
                left: 75%;
                top: 50px;
                transform: translateX(-50%) rotate(-235deg);
            }
            @include desktop {
                height: 705px;
                width: 705px;
                transform: translateX(20%) rotate(-20deg);
                top: -10px;
                left: auto;
                right: 0;
            }
        }
        &__2 {
            right: -20%;
            bottom: -50px;
            transform: rotate(20deg);
            height: 742px;
            width: 742px;
            @include tablet {
                left: 50%;
                bottom: 150px;
                right: auto;
                transform: translateX(-50%) rotate(0deg);
            }
            @include desktop {
                height: 705px;
                width: 705px;
                transform: translateX(0) rotate(0deg);
                bottom: -180px;
                left: 90px;
            }
        }
    }
}

.task {
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
    border-radius: 50%;
    background: $bg_color url(#{$img}/task-bg.png) no-repeat center / 100%;
    box-sizing: border-box;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -90px;
    color: $color;
    position: relative;
    z-index: 1;
    @include tablet {
        width: 444px;
        height: 444px;
        margin-top: -155px;
    }
    @include desktop {
        margin-top: -370px;
        align-items: flex-start;
    }

    &:nth-child(1) {
        background-color: $cGray;
        margin-top: 0;
        color: $bg_color;
        @include tablet {
            align-self: flex-start;
        }
    }
    &:nth-child(3) {
        background-color: $cRed;
        color: $bg_color;
        @include tablet {
            align-self: flex-end;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        border: 1px dashed currentColor;
        border-radius: 50%;
        pointer-events: none;
        @include tablet {
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
        }
    }

    &_number {
        font-weight: 600;
        font-size: 80px;
        line-height: .9;
        font-family: $font-family__heading;
        margin: 0 0 10px;
        text-align: center;
        width: 100%;
        @include tablet {
            font-size: 92px;
            margin-bottom: 16px;
        }
    }
    &_title {
        font-size: 16px;
        max-width: 80%;
        text-align: center;
        @include tablet {
            font-size: 22px;
            text-align: left;
            max-width: 90%;
        }
    }
}
