.team {
    position: relative;
    @include tablet {
        padding: 0 0 100px;
    }
    @include desktop {
        height: 100vh;
        padding: 0;
        min-height: 900px;
    }

    &_slider {
        display: flex;
        overflow-x: auto;
        gap: 16px;
        padding: 16px;
        background-color: #E4E4E4;
        border-top: 1px dashed $cGray;
        border-bottom: 1px dashed $cGray;
        margin: 0 0 40px;
        overflow: auto;
        @include desktop {
            border: none;
            padding: 0;
            background-color: transparent;
            gap: 0;
            overflow: visible;
            padding: 0 30px !important;
        }

        & > div {
            flex-grow: 1;

            &:nth-child(odd) {
                @include desktop {
                    margin-top: 54px;
                }
            }
        }
    }
    &_slider-image-wrapper {
        min-width: 70px;
        width: 100%;
        margin: 0 0 8px;
        line-height: 0;
        transition: .2s $easingSmooth transform;
        @include desktop {
            width: 310px;
        }

        &.active,
        &.active.animated {
            @include desktop {
                transform: rotate(-5deg);
            }
        }

        
    }
    &_slider-image-angle {
        position: relative;
        mask: linear-gradient(45deg,
                    rgba(#fff, 0),
                    rgba(#fff, 0) 7.5%,
                    rgba(#fff, 1) 7.5%,
                    rgba(#fff, 1) 92.4%,
                    rgba(#fff, 0) 92.4%,
                    rgba(#fff, 0) 100%);

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(#{$img}/person-mask.png) no-repeat center / 100%;
            mix-blend-mode: screen;
            opacity: 0;
            transition: .3s $easingSmooth opacity;
        }

        .team_slider-image-wrapper.active &::after {
            opacity: 1;
        }
    }
    &_slider-image {
        filter: grayscale(1);
    }
    &_slider-meta {
        display: none;
        @include desktop {
            display: block;
            color: $color;
            position: absolute;
            left: 30px;
            top: 100%;
            line-height: initial;
            top: 104%;
        }
    }
    &_content {
        @include desktop {
            display: flex;
        }
    }
    &_circle {
        display: none;
        @include tablet {
            display: block;
            position: absolute;
            width: 389px;
            height: 389px;
            left: 0;
            bottom: 0;
            transform: scaleX(-1);
            margin-left: -200px;
        }
        @include desktop {
            width: 646px;
            height: 646px;
            left: auto;
            right: 0;
            margin: 0 -350px 0 0;
            bottom: -300px;
            z-index: 1;
        }
    }

    .tns-ovh {
        margin: 0 #{-$indent};
        @include desktop {
            overflow: visible;
            margin: 0;
        }
    }
    .tns-controls {
        position: absolute;
        right: 0;
        top: -77px;
        width: 50%;
        @include desktop {
            position: static;
            margin: 0;
        }
    }
}
