.team {
    position: relative;
    @include tablet {
        padding: 0 0 100px;
    }
    @include desktop {
        height: 100vh;
        padding: 0;
    }

    &_slider {
        @include desktop {
            position: relative;
            display: flex;
            font-size: 0;
            padding-bottom: 390px;
        }

        & > div {
            flex-grow: 1;

            &:nth-child(odd) {
                @include desktop {
                    margin-top: 54px;
                }
            }
        }
    }
    &_circle {
        display: none;
        @include tablet {
            display: block;
            position: absolute;
            width: 389px;
            height: 389px;
            left: 0;
            bottom: 0;
            margin-left: -200px;
        }
        @include desktop {
            width: 646px;
            height: 646px;
            left: auto;
            right: 0;
            margin: 0 -350px 0 0;
        }
    }

    .tns-ovh {
        @include desktop {
            overflow: visible;
        }
    }
}
