.form {
    &_row {
        margin: 0 0 40px;
        @include desktop {
            width: 412px;
        }
    }
    &_columns {
        @include desktop {
            display: flex;
            justify-content: space-between;
            gap: 156px;
        }
    }
    &_column {
        @include desktop {
            flex-grow: 1;
            margin-bottom: 80px;
        }
    }
}
