.carousel {
    margin-left: -$indent;
    margin-right: -$indent;
    overflow: visible;

    &_row-wrapper {
        display: flex;
        position: relative;
        overflow: visible;
        gap: 18px;
    }
    &_row {
        display: flex;
        flex-shrink: 0;
        flex-grow: 1;
        gap: 18px;
        margin: 0 0 12px;
        transition: .3s linear transform;
        flex-shrink: 0;
        animation: row-slide 160s linear infinite;
        will-change: transform;
        @include tablet {
            margin-bottom: 25px;
            gap: 36px;
        }

        &__duplicate {
            animation: row-slide-duplicate 160s linear infinite;
        }

        .carousel_row-wrapper:nth-child(even) & {
            animation-direction: reverse;
            animation-duration: 320s !important;
        }

         .carousel_row-wrapper:nth-child(even) & {
            margin-left: -50px;
         }
    }
    &_item {
        flex-shrink: 0;
        aspect-ratio: 1.52;
        height: 148px;
        display: block;
        @include tablet {
            height: 295px;
        }
    }
    &_image {
        height: 100%;
    }
}

@keyframes row-slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(-100%, 0, 0);
    }

    50.01% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes row-slide-duplicate {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-200%, 0, 0);
    }
}
