.carousel {
    overflow: hidden;
    margin-left: -$indent;
    margin-right: -$indent;

    &_row {
        display: flex;
        gap: 18px;
        margin: 0 0 12px;
        @include tablet {
            margin-bottom: 25px;
            gap: 36px;
        }
    }
    &_item {
        flex-shrink: 0;
    }
    &_image {
        height: 148px;
        @include tablet {
            height: 295px;
        }
    }
}
